:root{
    --blue: #5B86D7;
    --gray: #FFFFFF;
    --primary: #000000;
    --secondary: #ffffff;
    --transparent: transparent;
    --transparent_background: #1d294183;
    --dark_gray: #b6bfc7;
    --dull_gray: #D0D0D0;
    --anchor:#11C8A2;
    --anchor_dark: #10a1901e;
    --typography_text: 0.9rem;
}
html{
    scroll-behavior: smooth;
}

body{
    all: unset;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #04122C;
    color: var(--gray);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--primary);
}
main{
    display: flex;
    flex-direction: row;
    padding-left: 12em;
    padding-right: 12em;
    gap: 1rem;
}
.nav-link{
    padding: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    background: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0 auto;
    transition: all ease-in;
    z-index: 1;
    top: 0;
    position: sticky;
    background: var(--secondary);
    transition: all 300ms;
    border-bottom: none;
    /* transition: border-bottom 300ms; */
    
}
p{
    color: var(--dark_gray);
    font-size: var(--typography_text)
}
a{
    color: var(--gray);
    font-weight: 700;
}
a:hover{
    color: var(--anchor);
}
.nav-links-container.sticking{
    border-bottom: 1px solid var(--dark_gray);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-links-container .title{
    width: 50px;
    height: 50px;
    background-color: #6535e87c;
    border-radius: 36% 64% 27% 73% / 64% 44% 56% 36% ;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header{
    padding-top: 4rem;
    padding-bottom: 6rem;
    position: sticky;
    top: 0;
    width: 50%;
    position: sticky;
    top: 0;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-content{
    padding-bottom: 6rem;
    width: 50%;
}
.about{
    padding-top: 4rem;
    line-height: 1.5rem;
}
.experience-section{
    padding-top: 4rem;
    line-height: 1.5rem;
}
.projects-section{
    padding-top: 4rem;
    line-height: 1.5rem;
}
h1{
    padding: 0px;
    margin: 0;
}
.header-title a{
    font-size: 3rem;
    color: var(--gray);
}
.current-pos{
    font-weight: 400;
}
.phrase{
    margin-block-start: 1em;
    margin-block-end: 1em;
    max-width: 20rem;
    color: var(--dull_gray);
}

.self-intro{
    color: var(--dark_gray);
}

.technologies ul{
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 10rem 10rem;
    padding: 0px;
    font-size: var(--typography_text);
}
.technologies-list li{
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: var(--dark_gray);
}
.technologies-list li::before{
    content: "▹";
    position: absolute;
    left: 0;
    font-size: 0.8rem;
    line-height: 20px;
    color: var(--anchor);
}
.nav{
    padding-top: 6rem;
    color: var(--dull_gray);
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem ;
    color: var(--dull_gray);
}
.nav-list:hover{
    color: var(--secondary);
    width: 15rem;
}
.nav-indicator{
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--dull_gray);
    transition: all 200ms ease-in-out;
}
.nav-list-text{
    padding-left: 1rem;
}

.span-grow{
    padding-right: 3rem;
    color: var(--gray);
}

.experience-ordered-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.experience-ordered-list li{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
.experience-list{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
}
.experience-list:hover{
    background: var(--transparent_background);
    cursor: pointer;
}
.experience-header{
    font-size: 0.8rem;
    color: var(--dark_gray);
    font-weight: normal;
    width: 100%;
}
.experience-content h3{
    margin: 0;
    line-height: 1.3em;
}
.experience-content p{
    font-size: var(--typography_text);
    font-weight: normal;
}
.current-role{
    font-size: large;
    color: var(--gray);
    transition: all 200ms ease-in-out;
}
.active-role{
    color: var(--anchor);
}
.sub-role{
    font-size: medium;
    color: var(--dark_gray);
}
.tech-stack{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: small;
    color: var(--anchor);
    gap: 0.3rem;;
}
.tech-stack li{
    padding: 0.2rem 0.4rem;
    background: var(--anchor_dark);
    border-radius: 20px;
    margin-top: 0.3rem;
    margin-bottom: 0;
}
.tech-stack li > div{
    padding: 0;
}

.resume a{
    font-weight: normal;
    padding-bottom: 0.5rem;
    transition: all 200ms ease-in-out;
    font-size: 0.9rem;
}
.resume a:hover{
    text-decoration: underline;
    color: var(--gray);
    text-decoration-color: #11C8A2;
    text-underline-offset: 0.3rem;
}
.experience-header img{
    width: 100%;
    border-radius: 5px;
}

.projects-unordered-list{
    list-style: none;
    padding: 0;
}


.project-list{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
}
.project-list:hover{
    background: var(--transparent_background);
    cursor: pointer;
}

.social-media{
    margin-top: 3rem;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.social-media li{
    margin-right: 1.5rem;
    
}
.media-icons{
    fill: var(--dark_gray);
}
.media-icons:hover{
    fill: var(--gray);
}

.arrow-icon{
    stroke: var(--secondary);
    transition: all 200ms ease-in-out;
    position: absolute;
    padding-top: 0.3rem;
}

.resume-link:hover .arrow-icon{
    margin: 0rem 0rem 0rem 0.5rem;
}


@media screen and (max-width:1000px) {
    main{
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
    }
    .header{
        display: flex;
        width: 100%;
        position: relative;
        justify-content: space-evenly;
        height: max-content;
    }
    .nav{
        display: none;
    }
    .main-content{
        width: 100%;
    }
}